.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 32px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, #lezioni .row > .right{
  width: 50%;
  float: left;
  padding: 20px;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: calc(33.33% - 40px);
  margin: 0 20px;
  padding: 20px;
  border-radius: 45px;
}

/* BLOCCO STEPS */
#steps .row > div:hover {
  background: rgba(65, 138, 201, 0.15);
  cursor: cell;
}

#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-bottom: 32px;
  padding: 20px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:32px
}

/* COMMON */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h3 {
  color: #428bca;
  margin: 24px 0;
}

h1 {
  text-transform: uppercase;
}

h1::first-letter {
  color: #ff0;
  background: #428bca;
  padding: 3px;
  font-size: 120%;
}

.container.grey{
  background-color: rgba(65, 138, 201, 0.3);
}

img{
  height: 200px;
}

hr {
  margin: 64px 0 0;
}

.clear {
  clear:both;
}

/*
==================================================
R E S P O N S I V E
==================================================
*/

/*
---------------
Fino a 320px
---------------
*/

@media screen and (max-width: 320px) {

  .row {
    width: calc(100% - 40px);
    margin-top: 32px;
    padding: 20px;
  }

  /* BLOCCO LEZIONI */
  #lezioni .row > .left, #lezioni .row > .right{
    width: 100%;
    float: none;
  }

  #lezioni .row > .left{
    margin-bottom: 32px;
  }

  #lezioni .row img {
    /* per centrare orizzontalmente */
    max-width: 80%;
  }

  /* BLOCCO STEPS */
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
    float: none;
    width: 100%;
  }

  #steps .row > .left,
  #steps .row > .central {
    margin-bottom: 32px;
  }

  /* BLOCCO PERCHE */
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
    margin-top: 32px;
  }

  #why .row img {
    padding:30px;
    width: 30%;
  }

  #why .row hr {
    margin-top: 32px;
  }

  /* COMMON */

  img {
    height: auto;
  }

}
